<%- include('header.ejs') %>

<header></header>

<h1>Oh oh, something went wrong...</h1>

<h2><%= code  %> - <%= text %></h2>

<% if (detail !== undefined && detail.length !== 0) { %>
  <h3><%= detail %></h3>
<% } %>

<p><a href="/">Back to list</a></p>

<%- include('footer.ejs') %>
