<%- include('header.ejs') %>

<header>
</header>

<main id="matches">

  <h1><%= title %></h1>

  <% if (typeof users !== undefined && users.length !== 0) { %>
    <ul>
      <% for (let user of users) { %>
        <li>
          <a href="/users/<%= user.id %>">
            <% if (user.profile_picture !== undefined && user.profile_picture.length !== 0) { %>
              <img src="/uploads/<%= user.profile_picture %>" alt="<%= user.first_name %>'s profile picture">
            <% } else { %>
              <img src="/uploads/profile.png" alt="no profile picture">
            <% } %>
            <h3><%= user.first_name %> <%= user.last_name %> (<span class="age"><%= user.birthday %></span>)</h3>
          </a>
        </li>
      <% } %>
    </ul>
  <% } else { %>
    <p>No matches found.</p>
  <% } %>

</main>

<%- include('footer.ejs') %>
