<%- include('header.ejs') %>

<img class="profile__img"
  src="/uploads/<%= profile.profile_picture %>"
  alt="<%= profile.first_name %>'s profile picture"
>

<h1><%= profile.first_name %> <%= profile.last_name %></h1>
<p><%= profile.description %></p>

<dl>
  <dt>Gender</dt>
  <dd><%= profile.gender %></dd>
  <dt>Age</dt>
  <dd class="age"><%= profile.birthday %></dd>
</dl>



<%- include('footer.ejs') %>
